In [23]:
import pandas as pd
import numpy as np
import json

In [24]:
def returnDict(str):
    try:
        return json.loads(str)
    except:
        return np.NaN

In [18]:
df = pd.read_csv('../data/raw/imoveis.csv')

In [19]:
limite = 40
cols_remove = df.columns[df.isnull().sum() > limite]

In [20]:
cols_remove = ['Unnamed: 0',
              'displayId', 
               'cityId', 
               'photos', 
               'photosCategorizedByRooms', 
               'relevantRegions', 
               'photospheres',
               'status',
               'showUrlHasBeenCopiedSnackbar',
               'isGalleryModalOpen',
               'error',
               'loaded',
               'loading',
               'loadingCategorizedRooms',
               'selectedMedia',
               'promotions',
               'closingStatus',
               'lastPublishedDate',
               'listingPublication',
               'forSale', 
               'forRent', 
               'salePrice', 
               'isPrimaryMarket', 
               'extraInfo', 
               'houseVisitStatus',
               'visitsUnavailable',
               'isReserved',
               'allowDirectOffer',
               'rentOnTermination',]

In [21]:
df.drop(columns=cols_remove, inplace=True)

In [25]:
df_macro = df['macroRegion'].str.replace('\'','"').apply(returnDict).apply(pd.Series)

In [27]:
df = pd.concat([df, df_macro.add_prefix('macroRegion_')], axis=1)

In [30]:
cols_remove = ['macroRegion_id', 'macroRegion', 'macroRegion_0']
df.drop(columns=cols_remove, inplace=True)

In [38]:
df = df[~(df['id'].isnull())]

In [39]:
df

,id,bedrooms,city,bathrooms,iptu,amenities,comfortCommodities,practicalityCommodities,area,installations,...,allowsCustomOffer,displayCustomOfferPreference,visitStatusReason,constructionYear,daysToVacate,furniture,partnerId,movingDate,awaitingAvailabilityReason,macroRegion_name
0,893726550.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
1,893872688.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
2,893543357.0,2,São Gonçalo,2.0,42,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",150,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,São Gonçalo
3,893812584.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
4,893778928.0,2,Duque de Caxias,1.0,25,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",42,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,10.0,NaN,NaN,NaN,NaN,Duque de Caxias
5,893732651.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",40,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
6,893793955.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",50,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
7,893736887.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",36,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
8,893442618.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",46,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
9,893528922.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
10,893927586.0,2,Nova Iguaçu,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",110,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nova Iguaçu
11,893599217.0,2,Nova Iguaçu,1.0,21,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",40,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nova Iguaçu
12,893245384.0,2,Rio de Janeiro,2.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",72,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 08
13,893396567.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
14,893402837.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",49,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
15,893597155.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
16,893615649.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
17,893906295.0,2,Belford Roxo,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",50,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belford Roxo
24,893916382.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",55,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
25,893392390.0,3,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",60,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,False,NaN,NaN,NaN,NaN,NaN,2023-01-30,NaN,RIO 12
26,893927211.0,1,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",60,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 09
27,893606177.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",48,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
28,893792891.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",60,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
29,893547752.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",60,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
30,893716748.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",48,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
31,893522147.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",50,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
33,893783156.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",85,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 12
34,893549647.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",47,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
35,893653650.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
36,893782528.0,1,Rio de Janeiro,1.0,50,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",53,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 08
37,893804009.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",42,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
38,893904309.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
39,893803347.0,1,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",40,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 07
40,893746272.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
41,893344740.0,2,Rio de Janeiro,1.0,75,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",44,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
42,893782829.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",60,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 10
43,893621811.0,2,Belford Roxo,1.0,14,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",50,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,Proprietário mora no imóvel,Belford Roxo
44,893792629.0,2,Rio de Janeiro,2.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",70,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,False,False,NaN,NaN,NaN,"Alguns itens como cama de solteiro , armário d...",NaN,NaN,NaN,RIO 13
45,893358744.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
46,893808134.0,2,Rio de Janeiro,2.0,10,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",110,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 10
47,893680666.0,3,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",100,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,10.0,O banheiro tem box blindex. Na cozinha temos a...,NaN,NaN,NaN,RIO 13
48,893895315.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIO 13
49,893430383.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",50,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,RIO 13