In [144]:
import pandas as pd
import numpy as np
import json

In [145]:
def returnDict(str):
    try:
        return json.loads(str)
    except:
        return np.NaN

In [146]:
df = pd.read_csv('../data/raw/imoveis.csv')

In [147]:
limite = 40
cols_remove = df.columns[df.isnull().sum() > limite]
df.drop(columns=cols_remove, inplace=True)

In [148]:
cols_remove = ['Unnamed: 0',
              'displayId', 
               'cityId', 
               'photos', 
               'photosCategorizedByRooms', 
               'relevantRegions', 
               'photospheres',
               'status',
               'showUrlHasBeenCopiedSnackbar',
               'isGalleryModalOpen',
               'error',
               'loaded',
               'loading',
               'loadingCategorizedRooms',
               'selectedMedia',
               'promotions',
               'closingStatus',
               'lastPublishedDate',
               'listingPublication',
               'forSale', 
               'forRent', 
               'salePrice', 
               'isPrimaryMarket', 
               'extraInfo', 
               'houseVisitStatus',
               'visitsUnavailable',
               'isReserved',
               'allowDirectOffer',
               'rentOnTermination',]

In [149]:
df.drop(columns=cols_remove, inplace=True)

In [150]:
df.head()

,id,bedrooms,city,bathrooms,iptu,amenities,comfortCommodities,practicalityCommodities,area,installations,...,mortgageFirstInstallment,listings,regionParameters,houseAgent,tenantServiceFee,rentalGuarantee,macroRegion,suites,allowsCustomOffer,displayCustomOfferPreference
0,893726550.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893726550, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,"{'minValue': 125, 'maxValue': 375}","{'id': 4053, 'name': 'RIO 13'}",0.0,True,True
1,893872688.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893872688, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",12,"{'minValue': 137.5, 'maxValue': 412.5}","{'id': 4053, 'name': 'RIO 13'}",0.0,NaN,NaN
2,893543357.0,2,São Gonçalo,2.0,42,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",150,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893543357, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",14,"{'minValue': 162.5, 'maxValue': 487.5}","{'id': 5618, 'name': 'São Gonçalo'}",0.0,False,True
3,893812584.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893812584, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,"{'minValue': 125, 'maxValue': 375}","{'id': 4053, 'name': 'RIO 13'}",0.0,NaN,NaN
4,893778928.0,2,Duque de Caxias,1.0,25,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",42,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893778928, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,"{'minValue': 125, 'maxValue': 375}","{'id': 5596, 'name': 'Duque de Caxias'}",0.0,True,True

In [151]:
df_macro = df['macroRegion'].str.replace('\'','"').apply(returnDict).apply(pd.Series)

In [152]:
df = pd.concat([df, df_macro.add_prefix('macroRegion_')], axis=1)

In [153]:
cols_remove = ['macroRegion_id', 'macroRegion', 'macroRegion_0']
df.drop(columns=cols_remove, inplace=True)

In [154]:
df.head()

,id,bedrooms,city,bathrooms,iptu,amenities,comfortCommodities,practicalityCommodities,area,installations,...,mortgageFirstInstallment,listings,regionParameters,houseAgent,tenantServiceFee,rentalGuarantee,suites,allowsCustomOffer,displayCustomOfferPreference,macroRegion_name
0,893726550.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893726550, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,"{'minValue': 125, 'maxValue': 375}",0.0,True,True,RIO 13
1,893872688.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893872688, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",12,"{'minValue': 137.5, 'maxValue': 412.5}",0.0,NaN,NaN,RIO 13
2,893543357.0,2,São Gonçalo,2.0,42,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",150,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893543357, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",14,"{'minValue': 162.5, 'maxValue': 487.5}",0.0,False,True,São Gonçalo
3,893812584.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893812584, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,"{'minValue': 125, 'maxValue': 375}",0.0,NaN,NaN,RIO 13
4,893778928.0,2,Duque de Caxias,1.0,25,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",42,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,0,"[{'imovelId': 893778928, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,"{'minValue': 125, 'maxValue': 375}",0.0,True,True,Duque de Caxias

In [155]:
rentalGuarantee =  df['rentalGuarantee'].str.replace('\'','"').apply(returnDict).apply(pd.Series)
df = pd.concat([df, rentalGuarantee.add_prefix('rentalGuarantee_')], axis=1)

In [156]:
cols_remove = ['rentalGuarantee', 'rentalGuarantee_0']
df.drop(columns=cols_remove, inplace=True)

In [157]:
df = df[~(df['id'].isnull())]

In [158]:
df.head()

,id,bedrooms,city,bathrooms,iptu,amenities,comfortCommodities,practicalityCommodities,area,installations,...,listings,regionParameters,houseAgent,tenantServiceFee,suites,allowsCustomOffer,displayCustomOfferPreference,macroRegion_name,rentalGuarantee_minValue,rentalGuarantee_maxValue
0,893726550.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,"[{'imovelId': 893726550, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,0.0,True,True,RIO 13,125.0,375.0
1,893872688.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",45,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,"[{'imovelId': 893872688, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",12,0.0,NaN,NaN,RIO 13,137.5,412.5
2,893543357.0,2,São Gonçalo,2.0,42,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",150,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,"[{'imovelId': 893543357, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",14,0.0,False,True,São Gonçalo,162.5,487.5
3,893812584.0,2,Rio de Janeiro,1.0,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",43,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,"[{'imovelId': 893812584, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,0.0,NaN,NaN,RIO 13,125.0,375.0
4,893778928.0,2,Duque de Caxias,1.0,25,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",42,"[{'key': 'PLAYGROUND', 'text': 'Playground', '...",...,"[{'imovelId': 893778928, 'businessContext': 'R...","{'loaded': False, 'loading': False, 'RENT': {'...","{'isDialogOpen': False, 'alreadyOpenedByQueryP...",11,0.0,True,True,Duque de Caxias,125.0,375.0

In [159]:
df['amenities'][0]

"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': 'Banheira', 'value': 'NAO', 'optional': False}, {'key': 'BOX', 'text': 'Box', 'value': 'NAO', 'optional': False}, {'key': 'VARANDA', 'text': 'Varanda', 'value': 'NAO', 'optional': False}, {'key': 'PISCINA_PRIVATIVA', 'text': 'Piscina privativa', 'value': 'SIM', 'optional': False}, {'key': 'ARMARIOS_EMBUTIDOS_NO_QUARTO', 'text': 'Armários no quarto', 'value': 'NAO', 'optional': False}, {'key': 'ARMARIOS_NOS_BANHEIROS', 'text': 'Armários no banheiro', 'value': 'NAO', 'optional': False}, {'key': 'ARMARIOS_NA_COZINHA', 'text': 'Armários na cozinha', 'value': 'NAO', 'optional': False}, {'key': 'AR_CONDICIONADO', 'text': 'Ar condicionado', 'value': 'NAO', 'optional': False}, {'key': 'CHUVEIRO_A_GAS', 'text': 'Chuveiro a gás', 'value': 'NAO', 'optional': False}, {'key': 'QUARTO_DE_SERVICO', 'text': 'Quarto de serviço', 'value': 'SIM', 'optional': False}, {'key': 'BANHEIRO_DE_SERVICO', 'text': 'Banheiro de serviço', 'value': 'SIM', 'optional': False}, {'key': 'VARANDA_GOURMET', 'text': 'Varanda gourmet', 'value': 'SIM', 'optional': False}, {'key': 'APARTAMENTO_COBERTURA', 'text': 'Apartamento cobertura', 'value': 'NAO', 'optional': False}, {'key': 'QUARTO_EXTRA_REVERSIVEL', 'text': 'Quarto extra reversível', 'value': 'SIM', 'optional': False}, {'key': 'FOGAO_INCLUSO', 'text': 'Fogão', 'value': 'NAO', 'optional': False}, {'key': 'GELADEIRA_INCLUSO', 'text': 'Geladeira', 'value': 'NAO', 'optional': False}, {'key': 'BANHEIRO_ADAPTADO', 'text': 'Banheiro adaptado', 'value': 'NAO', 'optional': False}, {'key': 'CLOSET', 'text': 'Closet', 'value': 'NAO', 'optional': False}, {'key': 'COZINHA_AMERICANA', 'text': 'Cozinha americana', 'value': 'SIM', 'optional': False}, {'key': 'MESAS_E_CADEIRAS_DE_ESCRITORIO', 'text': 'Mesas e cadeiras de escritório', 'value': 'NAO', 'optional': False}, {'key': 'JARDIM', 'text': 'Jardim', 'value': 'NAO', 'optional': False}, {'key': 'QUARTOS_E_CORREDORES_COM_PORTAS_AMPLAS', 'text': 'Quartos e corredores com portas amplas', 'value': 'SIM', 'optional': False}, {'key': 'QUINTAL', 'text': 'Quintal', 'value': 'NAO', 'optional': False}, {'key': 'SOMENTE_UMA_CASA_NO_TERRENO', 'text': 'Somente uma casa no terreno', 'value': 'NAO', 'optional': False}, {'key': 'AREA_DE_SERVICO', 'text': 'Área de serviço', 'value': 'SIM', 'optional': False}]"

In [160]:
df['comfortCommodities'][0]

"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': 'Banheira', 'value': 'NAO', 'optional': False}, {'key': 'PISCINA_PRIVATIVA', 'text': 'Piscina privativa', 'value': 'SIM', 'optional': False}, {'key': 'AR_CONDICIONADO', 'text': 'Ar condicionado', 'value': 'NAO', 'optional': False}, {'key': 'SOL_DA_MANHA', 'text': 'Sol da manhã', 'value': 'SIM', 'optional': False}, {'key': 'SOL_DA_TARDE', 'text': 'Sol da tarde', 'value': 'NAO', 'optional': False}, {'key': 'CORTINAS_BLACK_OUT', 'text': 'Cortinas corta luz', 'value': 'SIM', 'optional': False}, {'key': 'CORTINAS_DECORATIVAS', 'text': 'Cortina translúcida', 'value': 'SIM', 'optional': False}, {'key': 'JANELA_ANTI_RUIDO', 'text': 'Janela anti-ruído', 'value': 'SIM', 'optional': False}, {'key': 'VENTILADOR_DE_TETO', 'text': 'Ventilador de teto', 'value': 'NAO', 'optional': False}, {'key': 'LUMINOSIDADE_NATURAL', 'text': 'Janelas grandes', 'value': 'SIM', 'optional': False}, {'key': 'VISTA_LIVRE', 'text': 'Vista livre', 'value': 'NAO', 'optional': False}, {'key': 'RUA_SILENCIOSA', 'text': 'Rua silenciosa', 'value': 'SIM', 'optional': False}]"

In [161]:
df['practicalityCommodities'][0]

"[{'key': 'BOX', 'text': 'Box', 'value': 'NAO', 'optional': False}, {'key': 'ARMARIOS_EMBUTIDOS_NO_QUARTO', 'text': 'Armários no quarto', 'value': 'NAO', 'optional': False}, {'key': 'ARMARIOS_NOS_BANHEIROS', 'text': 'Armários no banheiro', 'value': 'NAO', 'optional': False}, {'key': 'ARMARIOS_NA_COZINHA', 'text': 'Armários na cozinha', 'value': 'NAO', 'optional': False}, {'key': 'CHUVEIRO_A_GAS', 'text': 'Chuveiro a gás', 'value': 'NAO', 'optional': False}, {'key': 'FOGAO_INCLUSO', 'text': 'Fogão', 'value': 'NAO', 'optional': False}, {'key': 'GELADEIRA_INCLUSO', 'text': 'Geladeira', 'value': 'NAO', 'optional': False}, {'key': 'CHUVEIRO_ELETRICO', 'text': 'Chuveiro elétrico', 'value': 'SIM', 'optional': False}, {'key': 'MICROONDAS', 'text': 'Microondas', 'value': 'NAO', 'optional': False}, {'key': 'SOFA', 'text': 'Sofá', 'value': 'NAO', 'optional': False}, {'key': 'MAQUINA_DE_LAVAR', 'text': 'Máquina de lavar', 'value': 'NAO', 'optional': False}, {'key': 'TANQUE', 'text': 'Tanque', 'value': 'SIM', 'optional': False}, {'key': 'REDE_DE_PROTECAO', 'text': 'Tela nas janelas', 'value': 'SIM', 'optional': False}, {'key': 'VARAL_DE_ROUPAS', 'text': 'Varal de roupas', 'value': 'SIM', 'optional': False}, {'key': 'TOMADAS_NOVAS', 'text': 'Tomadas 3 pinos', 'value': 'SIM', 'optional': False}, {'key': 'TELEVISAO', 'text': 'Televisão', 'value': 'NAO', 'optional': False}, {'key': 'MESAS_E_CADEIRAS_DE_JANTAR', 'text': 'Mesas e cadeiras de jantar', 'value': 'NAO', 'optional': False}, {'key': 'CHURRASQUEIRA', 'text': 'Churrasqueira', 'value': 'SIM', 'optional': False}, {'key': 'ACESSO_SEM_DEGRAUS', 'text': 'Acesso sem degraus', 'value': 'SIM', 'optional': False}, {'key': 'COOKTOP', 'text': 'Fogão cooktop', 'value': 'NAO', 'optional': False}, {'key': 'UTENSILIOS_DE_COZINHA', 'text': 'Utensílios de cozinha', 'value': 'NAO', 'optional': False}, {'key': 'CAMA_DE_CASAL', 'text': 'Cama de casal', 'value': 'NAO', 'optional': False}, {'key': 'CAMA_DE_SOLTEIRO', 'text': 'Cama de solteiro', 'value': 'NAO', 'optional': False}, {'key': 'ESPELHO_NO_BANHEIRO', 'text': 'Espelho no banheiro', 'value': 'SIM', 'optional': False}, {'key': 'FECHADURA_ELETRONICA', 'text': 'Fechadura eletrônica', 'value': 'SIM', 'optional': False}, {'key': 'ENERGIA', 'text': 'Energia no imóvel', 'value': 'SIM', 'optional': False}]"

In [162]:
df['installations'][0]

"[{'key': 'PLAYGROUND', 'text': 'Playground', 'value': 'SIM'}, {'key': 'PISCINA', 'text': 'Piscina', 'value': 'SIM'}, {'key': 'CHURRASQUEIRA', 'text': 'Churrasqueira', 'value': 'NAO'}, {'key': 'QUADRA_ESPORTIVA', 'text': 'Quadra esportiva', 'value': 'NAO'}, {'key': 'ACADEMIA', 'text': 'Academia', 'value': 'NAO'}, {'key': 'SALAO_DE_FESTAS', 'text': 'Salão de festas', 'value': 'SIM'}, {'key': 'SAUNA', 'text': 'Sauna', 'value': 'NAO'}, {'key': 'LAVANDERIA_NO_PREDIO', 'text': 'Lavanderia no prédio', 'value': 'NAO'}, {'key': 'GAS_ENCANADO', 'text': 'Gás encanado', 'value': 'SIM'}, {'key': 'ESPACO_GOURMET_NA_AREA_COMUM', 'text': 'Espaço gourmet na área comum', 'value': 'SIM'}, {'key': 'BRINQUEDOTECA', 'text': 'Brinquedoteca', 'value': 'NAO'}, {'key': 'CORRIMAO', 'text': 'Corrimão', 'value': 'SIM'}, {'key': 'PISO_TATIL', 'text': 'Piso tátil', 'value': 'SIM'}, {'key': 'RAMPAS_DE_ACESSO', 'text': 'Rampas de acesso', 'value': 'NAO'}, {'key': 'SALAO_DE_JOGOS', 'text': 'Salão de jogos', 'value': 'NAO'}, {'key': 'VAGA_DE_GARAGEM_ACESSIVEL', 'text': 'Vaga de garagem acessível', 'value': 'SIM'}, {'key': 'AREA_VERDE', 'text': 'Área verde', 'value': 'NAO'}, {'key': 'Elevador', 'value': 'NAO'}, {'key': 'Porteiro24H', 'value': 'SIM'}]"

In [167]:
df['details'] = np.nan
df['nearby'] = np.nan

In [164]:
cols_dict = ['amenities', 'comfortCommodities', 'practicalityCommodities', 'installations']

In [165]:
import ast

In [168]:
for k, row in df.iterrows():
    list_details = []
    for col in cols_dict:
        for i in  ast.literal_eval(row[col]):
            if i.get('value') == 'SIM':
                if i['key'] not in list_details:
                    list_details.append(i['key'])
    df['details'][k] = list_details 
                  
    dict_nearby = {}
    for i in  ast.literal_eval(row['placesNearby']):
        try:
            dict_nearby[i['type']] += 1
        except:
            dict_nearby[i['type']]  = 1
    df['nearby'][k] = dict_nearby

/tmp/ipykernel_10677/2415842376.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['details'][k] = list_details
/tmp/ipykernel_10677/2415842376.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nearby'][k] = dict_nearby

In [171]:
df_details = pd.get_dummies(df['details'].apply(pd.Series).stack()).sum(level=0)

/tmp/ipykernel_10677/3340904227.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df_details = pd.get_dummies(df['details'].apply(pd.Series).stack()).sum(level=0)

In [172]:
def get_maior_que_um(x):
    if x > 1:
        print('maior')

In [173]:
for column in df_details.columns:
    print(column)
    _ = df_details[column].apply(get_maior_que_um)

ACADEMIA
ACESSO_SEM_DEGRAUS
AREA_DE_SERVICO
AREA_VERDE
ARMARIOS_EMBUTIDOS_NO_QUARTO
ARMARIOS_NA_COZINHA
ARMARIOS_NOS_BANHEIROS
AR_CONDICIONADO
BANHEIRO_ADAPTADO
BANHEIRO_DE_SERVICO
BOX
BRINQUEDOTECA
CAMA_DE_SOLTEIRO
CHURRASQUEIRA
CHUVEIRO_A_GAS
CHUVEIRO_ELETRICO
CLOSET
COOKTOP
CORRIMAO
CORTINAS_BLACK_OUT
CORTINAS_DECORATIVAS
COZINHA_AMERICANA
ENERGIA
ESPACO_GOURMET_NA_AREA_COMUM
ESPELHO_NO_BANHEIRO
Elevador
FECHADURA_ELETRONICA
GAS_ENCANADO
JANELA_ANTI_RUIDO
JARDIM
LAVANDERIA_NO_PREDIO
LUMINOSIDADE_NATURAL
PISCINA
PISCINA_PRIVATIVA
PISO_TATIL
PLAYGROUND
Porteiro24H
QUADRA_ESPORTIVA
QUARTOS_E_CORREDORES_COM_PORTAS_AMPLAS
QUARTO_DE_SERVICO
QUARTO_EXTRA_REVERSIVEL
QUINTAL
RAMPAS_DE_ACESSO
REDE_DE_PROTECAO
RUA_SILENCIOSA
SALAO_DE_FESTAS
SALAO_DE_JOGOS
SAUNA
SOL_DA_MANHA
SOL_DA_TARDE
SOMENTE_UMA_CASA_NO_TERRENO
TANQUE
TOMADAS_NOVAS
VAGA_DE_GARAGEM_ACESSIVEL
VARAL_DE_ROUPAS
VARANDA
VARANDA_GOURMET
VENTILADOR_DE_TETO
VISTA_LIVRE

In [174]:
df = pd.concat([df, df_details], axis=1)

In [175]:
df.drop(cols_dict, axis=1, inplace=True)

In [176]:
cols_to_remove = [
    'allowsCustomOffer',
    'displayCustomOfferPreference',
    'mortgageFirstInstallment', 
    'listings', 
    'regionParameters',
    'availabilityType', 
    'specialConditions', 
    'offers',
    'details'
]

In [177]:
df.drop(cols_to_remove, axis=1, inplace=True)

In [179]:
df.columns

Index(['id', 'bedrooms', 'city', 'bathrooms', 'iptu', 'area', 'rentPrice',
       'condoPrice', 'condoType', 'region', 'type', 'iptuType', 'totalCost',
       'parkingSpaces', 'address', 'floor', 'homeProtection', 'remarks',
       'acceptsPets', 'hasFurniture', 'isNearSubway', 'placesNearby',
       'condominium', 'houseAgent', 'tenantServiceFee', 'suites',
       'macroRegion_name', 'rentalGuarantee_minValue',
       'rentalGuarantee_maxValue', 'nearby', 'ACADEMIA', 'ACESSO_SEM_DEGRAUS',
       'AREA_DE_SERVICO', 'AREA_VERDE', 'ARMARIOS_EMBUTIDOS_NO_QUARTO',
       'ARMARIOS_NA_COZINHA', 'ARMARIOS_NOS_BANHEIROS', 'AR_CONDICIONADO',
       'BANHEIRO_ADAPTADO', 'BANHEIRO_DE_SERVICO', 'BOX', 'BRINQUEDOTECA',
       'CAMA_DE_SOLTEIRO', 'CHURRASQUEIRA', 'CHUVEIRO_A_GAS',
       'CHUVEIRO_ELETRICO', 'CLOSET', 'COOKTOP', 'CORRIMAO',
       'CORTINAS_BLACK_OUT', 'CORTINAS_DECORATIVAS', 'COZINHA_AMERICANA',
       'ENERGIA', 'ESPACO_GOURMET_NA_AREA_COMUM', 'ESPELHO_NO_BANHEIRO',
       'Elevador', 'FECHADURA_ELETRONICA', 'GAS_ENCANADO', 'JANELA_ANTI_RUIDO',
       'JARDIM', 'LAVANDERIA_NO_PREDIO', 'LUMINOSIDADE_NATURAL', 'PISCINA',
       'PISCINA_PRIVATIVA', 'PISO_TATIL', 'PLAYGROUND', 'Porteiro24H',
       'QUADRA_ESPORTIVA', 'QUARTOS_E_CORREDORES_COM_PORTAS_AMPLAS',
       'QUARTO_DE_SERVICO', 'QUARTO_EXTRA_REVERSIVEL', 'QUINTAL',
       'RAMPAS_DE_ACESSO', 'REDE_DE_PROTECAO', 'RUA_SILENCIOSA',
       'SALAO_DE_FESTAS', 'SALAO_DE_JOGOS', 'SAUNA', 'SOL_DA_MANHA',
       'SOL_DA_TARDE', 'SOMENTE_UMA_CASA_NO_TERRENO', 'TANQUE',
       'TOMADAS_NOVAS', 'VAGA_DE_GARAGEM_ACESSIVEL', 'VARAL_DE_ROUPAS',
       'VARANDA', 'VARANDA_GOURMET', 'VENTILADOR_DE_TETO', 'VISTA_LIVRE'],
      dtype='object')

In [192]:
df['nearby'].apply(pd.Series).fillna(0)

/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/685322169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['nearby'].apply(pd.Series).fillna(0)

,PARK_OR_GREEN_AREA,SCHOOL,HOSPITAL,UNIVERSITY_OR_COLLEGE,STADIUM,ESTACAO_METRO_OU_TREM,MUSEUM_THEATRE_OR_CONCERT_HALL,SHOPPING_MALL
0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,18.0,3.0,1.0,0.0,0.0,0.0,0.0
13,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0
26,2.0,23.0,0.0,0.0,2.0,2.0,1.0,0.0
27,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,23.0,2.0,0.0,0.0,0.0,2.0,0.0
30,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,17.0,2.0,0.0,0.0,0.0,1.0,0.0
33,0.0,8.0,1.0,0.0,1.0,1.0,0.0,0.0
34,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
35,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,16.0,2.0,1.0,0.0,0.0,1.0,0.0
37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
39,2.0,17.0,1.0,1.0,0.0,0.0,0.0,0.0
40,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
41,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
42,2.0,23.0,0.0,0.0,0.0,2.0,1.0,2.0
43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,1.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
46,2.0,22.0,2.0,0.0,0.0,1.0,1.0,2.0
47,0.0,7.0,0.0,0.0,0.0,0.0,1.0,0.0
48,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
49,1.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0

In [188]:
 df['nearby']

0                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
1                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 3}
2                                                    {}
3                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
4                                                    {}
5                                                    {}
6                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
7                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
8                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
9                {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 6}
10    {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 2, 'HOSPIT...
11                                                   {}
12    {'SCHOOL': 18, 'HOSPITAL': 3, 'UNIVERSITY_OR_C...
13               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
14               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 8}
15                                                   {}
16               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 6}
17                                                   {}
24               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 2}
25          {'HOSPITAL': 1, 'SCHOOL': 13, 'STADIUM': 1}
26    {'SCHOOL': 23, 'ESTACAO_METRO_OU_TREM': 2, 'MU...
27                                        {'SCHOOL': 5}
28               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 3}
29    {'SCHOOL': 23, 'HOSPITAL': 2, 'MUSEUM_THEATRE_...
30               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
31    {'SCHOOL': 17, 'MUSEUM_THEATRE_OR_CONCERT_HALL...
33    {'ESTACAO_METRO_OU_TREM': 1, 'SCHOOL': 8, 'HOS...
34               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 8}
35               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 3}
36    {'SCHOOL': 16, 'HOSPITAL': 2, 'MUSEUM_THEATRE_...
37                                                   {}
38               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 3}
39    {'SCHOOL': 17, 'HOSPITAL': 1, 'PARK_OR_GREEN_A...
40               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 4}
41               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 6}
42    {'SCHOOL': 23, 'PARK_OR_GREEN_AREA': 2, 'ESTAC...
43                                                   {}
44                                                   {}
45               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 7}
46    {'PARK_OR_GREEN_AREA': 2, 'MUSEUM_THEATRE_OR_C...
47    {'SCHOOL': 7, 'MUSEUM_THEATRE_OR_CONCERT_HALL'...
48               {'SCHOOL': 3, 'PARK_OR_GREEN_AREA': 1}
49               {'PARK_OR_GREEN_AREA': 1, 'SCHOOL': 7}
Name: nearby, dtype: object

In [193]:
nearby = df['nearby'].apply(pd.Series).fillna(0)

/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)
/tmp/ipykernel_10677/3852949932.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  nearby = df['nearby'].apply(pd.Series).fillna(0)

In [196]:
df = pd.concat([df, nearby], axis=1)

,id,bedrooms,city,bathrooms,iptu,area,rentPrice,condoPrice,condoType,region,...,VISTA_LIVRE,nearby_0,PARK_OR_GREEN_AREA,SCHOOL,HOSPITAL,UNIVERSITY_OR_COLLEGE,STADIUM,ESTACAO_METRO_OU_TREM,MUSEUM_THEATRE_OR_CONCERT_HALL,SHOPPING_MALL
0,893726550.0,2,Rio de Janeiro,1.0,0,45,500,210,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
1,893872688.0,2,Rio de Janeiro,1.0,0,45,550,320,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,893543357.0,2,São Gonçalo,2.0,42,150,650,0,NaoExiste,"{'name': 'Ze Garoto', 'hub': {'loading': 'UNSE...",...,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,893812584.0,2,Rio de Janeiro,1.0,0,43,500,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
4,893778928.0,2,Duque de Caxias,1.0,25,42,500,250,Normal,"{'name': 'Jardim Primavera', 'hub': {'loading'...",...,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,893732651.0,2,Rio de Janeiro,1.0,0,40,500,250,Normal,"{'name': 'Guaratiba', 'hub': {'loading': 'UNSE...",...,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,893793955.0,2,Rio de Janeiro,1.0,0,50,550,295,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
7,893736887.0,2,Rio de Janeiro,1.0,0,36,500,280,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
8,893442618.0,2,Rio de Janeiro,1.0,0,46,643,320,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
9,893528922.0,2,Rio de Janeiro,1.0,0,43,939,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
10,893927586.0,2,Nova Iguaçu,1.0,0,110,1000,0,IncluidoNoAluguel,"{'name': 'Parque Horizonte', 'hub': {'loading'...",...,0,NaN,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
11,893599217.0,2,Nova Iguaçu,1.0,21,40,500,230,Normal,"{'name': 'Boa Vista', 'hub': {'loading': 'UNSE...",...,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,893245384.0,2,Rio de Janeiro,2.0,0,72,1200,0,NaoExiste,"{'name': 'Piedade', 'hub': {'loading': 'UNSET'...",...,0,NaN,0.0,18.0,3.0,1.0,0.0,0.0,0.0,0.0
13,893396567.0,2,Rio de Janeiro,1.0,0,45,690,320,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
14,893402837.0,2,Rio de Janeiro,1.0,0,49,530,290,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
15,893597155.0,2,Rio de Janeiro,1.0,0,43,500,240,Normal,"{'name': 'Guaratiba', 'hub': {'loading': 'UNSE...",...,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,893615649.0,2,Rio de Janeiro,1.0,0,43,510,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
17,893906295.0,2,Belford Roxo,1.0,0,50,700,250,Normal,"{'name': 'Santa Amélia', 'hub': {'loading': 'U...",...,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,893916382.0,2,Rio de Janeiro,1.0,0,55,850,290,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
25,893392390.0,3,Rio de Janeiro,1.0,0,60,1342,90,Normal,"{'name': 'Marechal Hermes', 'hub': {'loading':...",...,1,NaN,0.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0
26,893927211.0,1,Rio de Janeiro,1.0,0,60,800,0,IncluidoNoAluguel,"{'name': 'Ramos', 'hub': {'loading': 'UNSET', ...",...,1,NaN,2.0,23.0,0.0,0.0,2.0,2.0,1.0,0.0
27,893606177.0,2,Rio de Janeiro,1.0,0,48,500,280,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
28,893792891.0,2,Rio de Janeiro,1.0,0,60,630,307,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
29,893547752.0,2,Rio de Janeiro,1.0,0,60,1210,0,IncluidoNoAluguel,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,0.0,23.0,2.0,0.0,0.0,0.0,2.0,0.0
30,893716748.0,2,Rio de Janeiro,1.0,0,48,595,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
31,893522147.0,2,Rio de Janeiro,1.0,0,50,552,280,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,0.0,17.0,2.0,0.0,0.0,0.0,1.0,0.0
33,893783156.0,2,Rio de Janeiro,1.0,0,85,1250,0,NaoExiste,"{'name': 'Marechal Hermes', 'hub': {'loading':...",...,0,NaN,0.0,8.0,1.0,0.0,1.0,1.0,0.0,0.0
34,893549647.0,2,Rio de Janeiro,1.0,0,47,500,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
35,893653650.0,2,Rio de Janeiro,1.0,0,43,700,320,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
36,893782528.0,1,Rio de Janeiro,1.0,50,53,780,0,NaoExiste,"{'name': 'Engenho de Dentro', 'hub': {'loading...",...,0,NaN,0.0,16.0,2.0,1.0,0.0,0.0,1.0,0.0
37,893804009.0,2,Rio de Janeiro,1.0,0,42,550,240,Normal,"{'name': 'Guaratiba', 'hub': {'loading': 'UNSE...",...,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,893904309.0,2,Rio de Janeiro,1.0,0,45,750,320,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
39,893803347.0,1,Rio de Janeiro,1.0,0,40,500,10,Normal,"{'name': 'Taquara', 'hub': {'loading': 'UNSET'...",...,0,NaN,2.0,17.0,1.0,1.0,0.0,0.0,0.0,0.0
40,893746272.0,2,Rio de Janeiro,1.0,0,43,500,284,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
41,893344740.0,2,Rio de Janeiro,1.0,75,44,500,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
42,893782829.0,2,Rio de Janeiro,1.0,0,60,1000,0,IncluidoNoAluguel,"{'name': 'Brás de Pina', 'hub': {'loading': 'U...",...,1,NaN,2.0,23.0,0.0,0.0,0.0,2.0,1.0,2.0
43,893621811.0,2,Belford Roxo,1.0,14,50,590,264,Normal,"{'name': 'Santa Amélia', 'hub': {'loading': 'U...",...,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,893792629.0,2,Rio de Janeiro,2.0,0,70,950,283,Normal,"{'name': 'Guaratiba', 'hub': {'loading': 'UNSE...",...,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,893358744.0,2,Rio de Janeiro,1.0,0,45,834,300,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,0,NaN,1.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
46,893808134.0,2,Rio de Janeiro,2.0,10,110,1300,0,NaoExiste,"{'name': 'Penha Circular', 'hub': {'loading': ...",...,0,NaN,2.0,22.0,2.0,0.0,0.0,1.0,1.0,2.0
47,893680666.0,3,Rio de Janeiro,1.0,0,100,1100,120,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,0.0,7.0,0.0,0.0,0.0,0.0,1.0,0.0
48,893895315.0,2,Rio de Janeiro,1.0,0,45,650,350,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
49,893430383.0,2,Rio de Janeiro,1.0,0,50,750,203,Normal,"{'name': 'Campo Grande', 'hub': {'loading': 'U...",...,1,NaN,1.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0